build/
.gradle/4.0/fileHashes/fileHashes.bin
.gradle/4.0/fileHashes/
.gradle/4.0/taskHistory/
lib/
.idea/libraries/
out/
.gradle/4.0/fileContent/annotation-processors.bin
src/main/resources/client_secrets.json